@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}

:root:has(.theme__switcher input:checked) {
    --color-white: #212121;
    --color-light-gray: #494949;
    --color-grayish-blue: hsl(220, 15%, 75%);
    --color-dark-blue: hsl(0, 0%, 100%);
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

    background: var(--color-light-gray);
    font-family: 'Outfit', sans-serif;

    transition: all 400ms ease;
}

div {
    display: block;
}

p {
    font-size: 0.9rem;
    color: var(--color-grayish-blue);
    text-align: center;
}

.theme__switcher {
    position: absolute;
    top: 5vmin;
    right: 5vmin;
    transform: translate(50%, -50%);
}

.theme__switcher label {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.theme__switcher input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
.theme__switcher span {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    transition: all 400ms ease;
    display: grid;
    place-items: center;
    color: var(--color-dark-blue);
}

.theme__switcher:hover span {
    background: var(--color-grayish-blue);
    color: var(--color-white);
}

.card {
    width: 90%;
    max-width: 325px;
}

.card__container {
    background: var(--color-white);
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.2);
}

:root:has(.theme__switcher input:checked) .card__img img {
    filter: hue-rotate(24deg);
}

.card__img img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 1rem;
}

.card__content{
    text-align: center;
    padding: 1.25rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card__content h1 {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--color-dark-blue);
}

footer {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
}

footer a {
    transition: all 400ms ease;
    color: var(--color-dark-blue);
}

footer a:hover {
    letter-spacing: 1px;
}